@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:"Merriweather", serif ;
    background-color: rgb(255, 255, 255);
}
/* banner section start */
.banner-container{
    max-width: 1584px;
    margin: 0 auto;
    margin-top: 24px;
    min-height: 720px;
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.banner-content h1{
    color: white;
    font-size: 72px;
    font-weight: 900px;
    
}
.banner-content p{
    font-size: 32px;
    font-weight: 400px;
    color: white;
}

/* 65% section style start here */
.second-section-container{
    width: 952px;
    height: 933px;
    margin: 0 auto;
    margin-top: 94px;
}

.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section-content h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}
.second-section-content p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.second-section-content h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.image-container{
    width: 952px;
    height: 680px;
}
.image-container img{
    width: 100%;
    height: 100%;
}

/* midnight party section style here */
.midnight-party-container{
    max-width: 1584px;
    margin: 0 auto;
    margin-top: 24px;
    min-height: 720px;
    display: flex;
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.left-site-content{
    width: 50%;
    height:720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-site-content h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
}
.left-site-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
padding-left: 135px;
margin-left: 13px;
}
.right-site-content{
    width: 50%;
    height:720px;
    /* background-image: url("../images/Group\ 70.png");
    background-repeat: no-repeat; */
}
.right-site-content img{
    width: 420px;
    height: 556px;
    margin: 108px;
}


#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    padding-left: 150px;
    margin-right: 500px;
    margin-top: 20px;
}

.join-section-container{
    width: 1584px;
    height: 578px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;

background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.join-section-content{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.join-section-content h5{
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
}

.join-section-content h5 span{
    color: red;
}

.join-section-content button{
    padding: 16px 32px 16px 32px;
    border-radius: 8px;

background: rgb(255, 0, 0);
font-size: 20px;
font-weight: 700;
color: rgb(255, 255, 255);
margin-top: 50px;
cursor: pointer;
}


/* best offer section style here */
.best-offer-section-container{
    width: 1584px;
    height: 555.6px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:150px;
}
.best-offer-left-content{
    width: 33%;


}

.best-offer-left-content h6{
    text-align:left;
    color: rgb(255, 0, 0);
font-size: 24px;
font-weight: 500;
line-height: 29px;
margin-bottom:10px;

}
.best-offer-left-content h3{
    color: rgb(7, 2, 17);
font-size: 48px;
font-weight: 900;
line-height: 60px;
text-align: left;
text-transform: capitalize;
margin-bottom: 22px;
    
}
.best-offer-left-content p{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
}

.best-offer-middle-content{
    width: 33%;

}
.best-offer-middle-content img{
    box-sizing: border-box;
border: 15px solid rgb(255, 0, 0);
border-radius: 50%;
padding: 30px;
}
.best-offer-right-content{
    width: 33%;
}

.best-offer-right-content h3{
    color: rgb(255, 0, 0);
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: left;
margin-top: 50px;
}

.best-offer-right-content p{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
margin-top: 25px;
}

.best-offer-right-content img{
    background: linear-gradient(180.00deg, rgb(248, 246, 251) 16.253%,rgb(239, 220, 251) 88.72%);
    margin-top: 80px;
}

/* holiday-section-style here */
.holiday-section-container{
    width: 1584px;
    height: 1083px;
    margin: 0 auto;
    /* background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: left,bottom;
     */
     /* margin-top: 50px; */
     position: relative;

}

.holiday-sale-conten{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 50px; */
    margin-top: 50px;
}
.holiday-sale-conten h6{
    color: rgb(7, 2, 17);
font-size: 24px;
font-weight: 500;
line-height: 29px;
}
.holiday-sale-conten h1{
font-size: 72px;
font-weight: 900;
line-height: 91px;
}
.holiday-sale-conten h1 span{
    color: red;
}
.holiday-sale-conten p{
    font-size: 22px;
    font-weight: 500px;
    line-height: 34px;
}




.holiday-discount-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    /* margin-bottom: 0px; */
    /* margin-top: 150px; */
    
}

.holiday-discount-img1{
    width: 60%;
    z-index: 1;
    margin-top: 200px;
    margin-left: 50px;
}
.holiday-discount-img2{
    width: 40%;
    margin-left: 400px;
    
}

#last-img{
    position: absolute;
    width: 100%;
    bottom: 0;
    

}

/* best gift section style here */
.best-gift-section-container{
    height:1280px;
    width: 1584px;
    margin: 0 auto;
    margin-top: 100px;
    
}

.best-gift-text-content{
    text-align: left;
}
.best-gift-text-content h6{
    color: rgb(255, 0, 0);
font-size: 24px;
font-weight: 500;
line-height: 29px;
}
.best-gift-text-content h3{
    color: rgb(7, 2, 17);
font-size: 48px;
font-weight: 900;
line-height: 60px;
margin: 15px 0 15px 0;
}
.best-gift-text-content p{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
line-height: 32px;
margin-bottom: 15px;
}

.best-gift-imgages-content{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 30px;
    margin-top: 40px;
}
.best-gift-imgages-content img{
    width: 489px;
}

/* subscribe section style here */
.subscribe-section-container{
    width: 1584px;
    height: 739px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

background: rgba(255, 0, 0, 0.05);
}

.subscribe-text-content{
    text-align: center;
}

.subscribe-text-content img{
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}
.subscribe-text-content h3{
    color: rgb(7, 2, 17);
font-size: 50px;
font-weight: 900;
line-height: 65px;
margin-bottom: 20px;
}

.subscribe-text-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.input-content-button{
    margin-top: 50px;
}
#input-email{
    width: 400px;
    height: 60px;
    padding: 5px 20px;
    padding-right: 20px;
    border-radius:  50px 0px 0px 50px;
    font-size: 25px;
outline: none;
border: none;

background: rgb(255, 255, 255);
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

#input-button{   
    padding: 5px 20px;
    border-radius: 0px 50px 50px 0px;

background: rgb(255, 0, 0);
height: 60px;
width: 150px;
cursor: pointer;
outline: none;
border: none;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
text-align: center;


}

/* footer section style here */
.footer-section-container{
    max-width: 1920px;
    height: 730px;
    /* border: 6px solid red; */
    background: rgb(7, 2, 17);
    color: white;
    margin-top: 120px;

}
.footer-section-all-content{
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;


}
.footer-section-content-text{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 144px;
}
.footer-left-text{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
text-align: left;
}
.footer-right-text{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}

.footer-section-content-icons{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    width:80%;
    margin: 0 auto;
    margin-top: 116px;
    padding: 35px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}


.footer-last-text-content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
 
}
.footer-last-left-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;

}
.footer-last-right-text{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
